body, html {
    height: 100%;
    margin: 0;
}

.home-container {
    /* The image used */
    background-image: url(../assets/images/book_library.jpeg);

    /* Full height */
    height: 100%; 
    width: 100%;
    position: absolute;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button.home.ui.button {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 100px;
}

.ui.huge.header {
    font-size: 8em;
}
.ui.placeholder.segment {
    width: 500px;
    margin: auto;
}